<div class="container task-creator shadow-2" [ngStyle]="{'background-color': newTask.color}">
    <form (ngSubmit)="onCreateTask()">

<div class="form-group"
      *ngIf="fullForm"  >
<label for="newTaskName" class="row" > Task Name:  </label>

      <input
      id="newTaskName"
        type="text"
        [(ngModel)]="newTask.name"
        name="newTaskName"
        placeholder="Enter task name"
        class="title col-9"
        *ngIf="fullForm"
        required
      >
    </div>
    <div class="form-group" >
      <input
        type="text"
        (focus)="toggle(true)"
        [(ngModel)]="newTask.description"
        name="newTaskDescription"
        placeholder="Start typing task description..."
        class="col-12"
        required
      >
</div>
<div class="form-group"
      *ngIf="fullForm"
> 
<label for="newTaskEstimate" class="row"  > Estimate:  </label>
      <input
      class="col-3"

      id="newTaskEstimate"
      type="number"
      [(ngModel)]="newTask.estimate"
      name="newTaskEstimate"
    > Hours.
</div>
<div class="form-group" >

      <div class="actions col-xs-3" *ngIf="fullForm">
        <div>
          <app-color-picker
            (selected)="onColorSelect($event)"
            [colors]="colors"
          >
          </app-color-picker>
        </div>
  </div>
        <button 
         *ngIf="fullForm"
          type="submit"
          class="btn btn-primary"
         >
          Add task
        </button>
      </div>
    </form>
  </div>