<h4>TaskTracker</h4>
<div class="container">

    <app-task-creator (createTask)="createTask($event)"></app-task-creator>

    <div>
        <div class="row col-12">
            <div class="col-4"
                    *ngFor="let state of states; let i = index">
                <div class="panel panel-warning"
                    dnd-droppable                    
                    (onDropSuccess)="addTo($event, state.id)" >
                    <div class="panel-heading" >
                        {{state.id}} - {{state.name}}
                    </div>
                <div class="panel-body">
                        <div
                            *ngFor="let task of state.tasks; let x = index" 
                              class="list-group-item"
                                dnd-draggable
                                [dragEnabled]="true"
                                [dragData]="task"> 
                                <div [ngStyle]="{'background-color': task.color}">
                                    <b>#{{task.id}} - {{task.name}} </b>
                                    <br/>
                                    {{task.description}}
                                    <br/>
                                    Estimate: {{task.estimate}}
                                    <div>
                                        <i (click)="removeTask(task)" 
                                        class="material-icons icon">delete</i>
                                    </div>
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

   Planned: {{states | taskState: 1}}
   In Progress: {{states | taskState: 2}}
   Completed: {{states | taskState: 3}}
</div>
