<h4>TaskTracker</h4>

<app-task-creator
(createTask)="createTask($event)"
></app-task-creator>

  <div class="row">
      <div class="col-12">
          <div dnd-sortable-container [sortableData]="states" [dropZones]="['container-dropZone']">
              <div class="col-sm3"
                      *ngFor="let state of states; let i = index"
                      dnd-sortable [sortableIndex]="i" [dragEnabled]="dragOperation">
                  <div class="panel panel-warning"
                      dnd-sortable-container 

                      [sortableData]="state.tasks" 
                      [dropZones]="['widget-dropZone']">
                      <div class="panel-heading">
                          {{state.id}} - {{state.name}}
                      </div>
                      <div class="panel-body">
                          <ul class="list-group">
                              <li *ngFor="let task of state.tasks; let x = index" class="list-group-item"
                                  dnd-sortable [sortableIndex]="x" [dragEnabled]="!dragOperation"
                                  dnd-droppable (onDropSuccess)="addTo($event, state.id)"
                                  [dragData]="task"> 
                                  <div [ngStyle]="{'background-color': task.color}">
                                    #{{task.id}} - {{task.name}} 
                                    <br/>
                                    Estimate: {{task.estimate}}
                                </div>
                                </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>